* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Google Font */
body {
    font-family: "Poppins", sans-serif;
    background-color: #f0f4f8;
    color: #333;
}

h1,
h2 {
    color: #003366;
}

img {
    max-width: 100%;
    height: auto;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #003366;
    color: white;
    text-align: center;
    position: relative;
}

.profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

header h1 {
    font-size: 36px;
    color: white;
    margin-top: 10px;
}

/* Nav */
.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    background-color: #000;
    color: white;
}

/* Hamburguer Button */
#menu-toggle {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: none;
}

/* Menu */
#nav-menu {
    display: flex;
    list-style: none;
    gap: 50px;
    justify-content: space-around;
    width: 100%;
}

#nav-menu li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
}

#nav-menu li a:hover {
    text-decoration: underline;
}

/* Hide Menu in Mobile Style */
.hidden {
    display: none;
}

/* Main content sections */
main {
    padding: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
        "course city"
        "certificate certificate";
}

section:nth-child(1) {
    grid-area: course;
}

section:nth-child(2) {
    grid-area: city;
}

section:nth-child(3) {
    grid-area: certificate;
}

section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

h2 {
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
}

ul {
    list-style: disc;
    padding-left: 20px;
}

img {
    border-radius: 8px;
    margin-bottom: 10px;
    max-width: 350px;
    
    
}

/* Buttons */
#course-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

#course-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #003366;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#course-buttons button:hover {
    background-color: #0055a5;
}

/* Courses */
#course-list {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.course-card {
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.completed {
    background-color: #357a38;
    color: white;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #003366;
    color: white;
}

/* Mobile responsive style */
@media (max-width: 768px) {
    #menu-toggle {
        display: block;
    }

    #nav-menu {
        display: block;
        position: absolute;
        top: 50px;
        right: 20px;
        background-color: #000;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    #nav-menu li {
        margin: 10px 0;
    }

    #nav-menu.hidden {
        display: none;
    }

    main {
        display: block;
    }

    section {
        margin-bottom: 20px;
        padding: 10px;
    }

    section img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
}